body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

button[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.score {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    background-color: #337ab7;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #286090;
}